body {
	background-image: url(images/student_watching_video.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center center
}
 ul {
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
} 
a {
	display: block;
	width: 500 px;
	font-weight: bold;
	background-color: #2E94C0
	text-transform: uppercase;
	text-align: left;
}