h1 {
	font-size: 250%;
}
h1 {
	font-size: 200%;
}
p {
	font-size: 100%;
}
#welcome {
	color:#242424;
	display: center;
	font-family: Tahoma;
}
body {
	background-image: url(images/student_watching_video.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center;

} 
.nav {
	font-weight: bold;
	text-transform: uppercase;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;	
}
#discipline {
	font-weight: bold;
	text-transform: uppercase;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;	
}

#footer {
    color:#242424;
    clear:both;
    text-align:center;
    padding: 5px; 