h1 {
	font-size: 300%;
}
h2 {
	font-size: 200%;
}
p { 
	font-size: 100%;
}

body {
	background-image: url(images/student_watching_video.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.nav {
	font-weight: bold;
	text-transform: uppercase;
	list-style-type: none;
	margin: 0;
	padding: 100px;
	display: inline;	
}

#welcome {
	background-color: #F5EF6B;
	color:#242424;
	display: center;
	font-family: Tahoma;
	text-transform: capitalize;
}

#discipline {
	font-weight: normal;
	text-transform: capitalize;
	list-style-type: none;
	margin: 100px;
	padding: 100px;
	display: inline;	
}

#footer {
    color:#242424;
    clear:both;
    text-align:center;
    padding:100px;
}